API_KEY=
CCAVENUE_ACCESS_CODE=
CCAVENUE_CANCEL_URL=
CCAVENUE_MERCHANT_ID=
CCAVENUE_REDIRECT_URL=
CCAVENUE_URL=
CCAVENUE_WORKING_KEY=
DATABASE_URL=
PRIVATE_OBJECT_DIR=
PUBLIC_OBJECT_SEARCH_PATHS=
SESSION_SECRET=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
TWILIO_VERIFY_SERVICE_SID=
TWILIO_MESSAGING_SERVICE_SID=
TWILIO_API_KEY=
TWILIO_API_SECRET=
